<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>scaleFast.py</string>
			<key>preferredName</key>
			<string>Launch ScaleFast</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Loïc Sander</string>
	<key>developerURL</key>
	<string>github.com/loicsander</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>ScaleFast</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>5</string>
	<key>timeStamp</key>
	<real>1433764325.401228</real>
	<key>version</key>
	<string>0.93.5</string>
    <key>repository</key>
    <string>loicsander/Robofont-scripts</string>
    <key>extensionPath</key>
    <string>ScaleFast.roboFontExt</string>
</dict>
</plist>
