<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>cornerToolController.py</string>
			<key>preferredName</key>
			<string>Corner Tools</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Loic Sander</string>
	<key>developerURL</key>
	<string>https://github.com/loicsander</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>roundingTool.py</string>
	<key>name</key>
	<string>CornerTools</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>4</string>
	<key>timeStamp</key>
	<real>1415566404.026155</real>
	<key>version</key>
	<string>0.31</string>
    <key>repository</key>
    <string>loicsander/Robofont-scripts</string>
    <key>extensionPath</key>
    <string>CornerTools/CornerTools.roboFontExt</string>
</dict>
</plist>
