<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>interpolation-matrix-mutatorMath.py</string>
			<key>preferredName</key>
			<string>Interpolation Matrix</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Loic Sander</string>
	<key>developerURL</key>
	<string>https://github.com/loicsander</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Interpolation Matrix</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>4</string>
	<key>timeStamp</key>
	<real>1415051872.8521161</real>
	<key>version</key>
	<string>0.61</string>
</dict>
</plist>
